$btnBorderRadius: 999px;

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-primary-color: hsl(216.52deg 11.44% 39.41%);
}

html {
  font-size: 62.5%;
}

body {
  //height: 4000px;

  font: {
    size: 1.6rem;
    family: "Poppins", sans-serif;
  }
}

// Common

.content {
  width: 80%;
  margin: {
    left: auto;
    right: auto;
  }
}

a {
  text-decoration: none;
}

// Header  ----------------------------------------------------------------------------------------------------------------------------------------

.hero {
  position: relative;
  background: hsl(201.43deg 76.36% 78.43%);
  height: 100vh;

  &__img {
    position: absolute;
    display: block;
    max-width: 50%;
  }
  .container {
    height: 100%;
  }
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
  background: rgba(244, 246, 247, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid hsl(201.43deg 76.36% 78.43%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--text-primary-color);
    padding: 39px 25px;
    text-align: center;
    transition: background 0.3s ease;

    &:hover {
      background: hsl(201.43deg 76.36% 78.43%);
    }

    &__user {
      display: flex;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}
.logo__link {
  display: block;
}

.logo {
  width: 100px;
  height: 100px;
}

.user {
  &__avt,
  &__logout__btn {
    display: inline-block;
  }

  &__logout__btn {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 20px 15px;
    color: var(--text-primary-color);
  }

  &__logout__btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.5s ease-in-out;
  }

  &__logout__btn:hover::after {
    width: 100%;
  }
}

.flight-search__ {
  
  &box {
    position: relative;
    z-index: 2;
    height: 80%;
  }

  &form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    padding: 50px;
    border: 2px solid hsl(189.54deg 76.65% 38.63%);
    border-radius: 20px;
    background: #fff;
    &__label,
    &__input {
      display: block;
    }
    &__label {
      font-size: 3rem;
      font-weight: 600;
      color: var(--text-primary-color);
      margin-bottom: 20px;
    }
    &__input {
      font-size: 2rem;
      padding: 5px 10px;
      height: 50px;
      border-radius: 10px;
      outline: none;
      border: {
        width: 1px 1px 6px 1px;
        color: hsl(336.79deg 59.55% 65.1%);
        style: solid;
      }
    }
    &-btn {
      font-size: 2rem;
      font-weight: 600;
      color: var(--text-primary-color);
      padding: 20px 15px;
      border: 1px solid #555;
      border-radius: $btnBorderRadius;
      background: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background: #8e44ad;
        color: #fff;
        transform: scale(1.1);
      }
    }
  }

  .custom-date {
    color: var(--text-primary-color);
  }
}

// Feature ----------------------------------------------------------------------------------------------------------------------------------------

.feature {
  height: calc(100vh - 126px);
  color: var(--text-primary-color);

  &--title {
    position: relative;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 100px 0px 150px;

    &::before,
    &::after {
      position: absolute;
      top: 17px;
      display: inline-block;
      content: "";
      width: 300px;
      height: 6px;
      background-color: #4158d0;
      background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
      );

      border-radius: 999px;
    }

    &::before {
      left: 150px;
    }

    &::after {
      right: 150px;
    }
  }

  &--article {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
    height: 350px;
  }

  &--block:nth-of-type(1) .article--img {
    background: url(../img/tourist-attraction.jpg) center/cover no-repeat;
  }
  &--block:nth-of-type(2) .article--img {
    background: url(../img/travel-guide.jpg) center/cover no-repeat;
    background-position: 3% center;
  }
  &--block:nth-of-type(3) .article--img {
    background: url(../img/tour-review.jpg) center/cover no-repeat;
  }
  &--block:nth-of-type(4) .article--img {
    background: orange url(../img/flight-review.jpeg) center/cover no-repeat;
    background-size: 120%;
  }
}

.article {
  &--title {
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 15px 25px;
    background: #fff;
    border-bottom: 1px solid black;
    width: 100%;
    z-index: 2;
  }

  &--img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  &--img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

// Stats ----------------------------------------------------------------------------------------------------------------------------------------
.stats {
  padding: 50px 0 75px;
  background: #78beec url(../img/sky.jpg) center/cover no-repeat;

  &--title {
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    &__left,
    &__right {
      font: {
        family: "Hornbill Personal Use";
        weight: 800;
        style: italic;
      }
    }

    &__left {
      font-size: 5rem;
      color: #5002fc;
      width: 300px;
    }

    &__right {
      font-size: 10rem;
      color: hsl(182.94deg 76.47% 63.33%);
    }
  }

  &--num,
  &--desc {
    display: block;
    text-align: center;
  }

  &--num {
    color: #5002fc;
    font-weight: 600;
    font-size: 2.5rem;
  }

  &--desc {
    color: var(--text-primary-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 1px;
    width: 150px;
    margin: 20px auto 0;
  }
}

// Footer ----------------------------------------------------------------------------------------------------------------------------------------

.footer {
  padding: 50px 0;

  &--title {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.media {
  display: flex;
  align-items: center;
  margin-top: 10px;

  &--icon {
    display: inline-block;
    width: 30px;
    height: 30px;

    + .media--icon {
      margin-left: 10px;
    }
  }
}

.contact {
  font-weight: 600;
  margin-top: 7px;

  span {
    font-weight: 400;
  }
}

.download-logo {
  margin-top: 10px;
  width: 150px;
  height: 90px;
}

.address {
  margin-top: 10px;
}

.sponsorship {
  display: flex;
  align-items: center;
  margin-top: 5px;

  span {
    margin-left: 10px;
  }
}
//------------------- --------------- Custom responsive ------------------- --------------- ------------------- ---------------
@media screen and (max-width: 1999px) {
  .feature {
    &--title::before,
    &--title::after {
      width: 200px;
    }
  }
}

@media screen and (max-width: 991px) {
  .feature {
    &--title::before,
    &--title::after {
      width: 100px;
    }
  }
}

@media screen and (max-width: 767px) {
  .feature {
    &--title::before,
    &--title::after {
      display: none;
    }
  }
}
