:root {
  --primary: ;
  --secondary: #8338ec;
  --success: #38b000;
  --danger: #ff006e;
  --warning: #ffbe0b;
  --light: #f8f9fa;
  --dark: #212529;
  --economy: #8ecae6;
  --premium: #219ebc;
  --business: #023047;
  --first: #ffb703;
}
.seat-ticket-list {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  &__title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(92, 225, 230);
    margin-bottom: 15px;
    border-bottom: 2px solid #f8f9fa;
    padding-bottom: 10px;
  }
  &__filter {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
  }
  &__search-box {
    flex: 1;
    min-width: 250px;
  }
  &__search-box-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  &__form-btn {
    padding: 10px 15px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(92, 225, 230);
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
}

.filter-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-box select {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
}
