// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.container {
  --column-size: 12;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: calc(-1 * var(--spacer) / 2);
  padding-right: calc(-1 * var(--spacer) / 2);

  [class*="col-"] {
    flex: 0 0 auto;
    width: calc(100% / var(--column-size) * var(--num-of-column));
    padding-left: calc(var(--spacer) / 2);
    padding-right: calc(var(--spacer) / 2);
  }

  &[class*="row-cols-"] > * {
    flex: 0 0 auto;
    width: calc(100% / var(--row-col-number));
    padding-left: calc(var(--spacer) / 2);
    padding-right: calc(var(--spacer) / 2);
  }
}
.row-cols- {
  &1 > * {
    --row-col-number: 1;
  }
  &2 > * {
    --row-col-number: 2;
  }
  &3 > * {
    --row-col-number: 3;
  }
  &4 > * {
    --row-col-number: 4;
  }
  &5 > * {
    --row-col-number: 5;
  }
  &6 > * {
    --row-col-number: 6;
  }
}

.col {
  flex: 1 0;

  //default
  &-1 {
    --num-of-column: 1;
  }
  &-2 {
    --num-of-column: 2;
  }
  &-3 {
    --num-of-column: 3;
  }
  &-4 {
    --num-of-column: 4;
  }
  &-5 {
    --num-of-column: 5;
  }
  &-6 {
    --num-of-column: 6;
  }
  &-7 {
    --num-of-column: 7;
  }
  &-8 {
    --num-of-column: 8;
  }
  &-9 {
    --num-of-column: 9;
  }
  &-10 {
    --num-of-column: 10;
  }
  &-11 {
    --num-of-column: 11;
  }
  &-12 {
    --num-of-column: 12;
  }
}

.g-0 {
  --spacer: 0px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    --spacer: 10px;

    max-width: 540px;
  }

  .col {
    &-sm-1 {
      --num-of-column: 1;
    }
    &-sm-2 {
      --num-of-column: 2;
    }
    &-sm-3 {
      --num-of-column: 3;
    }
    &-sm-4 {
      --num-of-column: 4;
    }
    &-sm-5 {
      --num-of-column: 5;
    }
    &-sm-6 {
      --num-of-column: 6;
    }
    &-sm-7 {
      --num-of-column: 7;
    }
    &-sm-8 {
      --num-of-column: 8;
    }
    &-sm-9 {
      --num-of-column: 9;
    }
    &-sm-10 {
      --num-of-column: 10;
    }
    &-sm-11 {
      --num-of-column: 11;
    }
    &-sm-12 {
      --num-of-column: 12;
    }
  }

  // row-cols-
  .row-cols- {
    &sm-1 > * {
      --row-col-number: 1;
    }
    &sm-2 > * {
      --row-col-number: 2;
    }
    &sm-3 > * {
      --row-col-number: 3;
    }
    &sm-4 > * {
      --row-col-number: 4;
    }
    &sm-5 > * {
      --row-col-number: 5;
    }
    &sm-6 > * {
      --row-col-number: 6;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    --spacer: 20px;

    max-width: 720px;
  }

  .col {
    &-md-1 {
      --num-of-column: 1;
    }
    &-md-2 {
      --num-of-column: 2;
    }
    &-md-3 {
      --num-of-column: 3;
    }
    &-md-4 {
      --num-of-column: 4;
    }
    &-md-5 {
      --num-of-column: 5;
    }
    &-md-6 {
      --num-of-column: 6;
    }
    &-md-7 {
      --num-of-column: 7;
    }
    &-md-8 {
      --num-of-column: 8;
    }
    &-md-9 {
      --num-of-column: 9;
    }
    &-md-10 {
      --num-of-column: 10;
    }
    &-md-11 {
      --num-of-column: 11;
    }
    &-md-12 {
      --num-of-column: 12;
    }
  }

  .row-cols- {
    &md-1 > * {
      --row-col-number: 1;
    }
    &md-2 > * {
      --row-col-number: 2;
    }
    &md-3 > * {
      --row-col-number: 3;
    }
    &md-4 > * {
      --row-col-number: 4;
    }
    &md-5 > * {
      --row-col-number: 5;
    }
    &md-6 > * {
      --row-col-number: 6;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col {
    &-lg-1 {
      --num-of-column: 1;
    }
    &-lg-2 {
      --num-of-column: 2;
    }
    &-lg-3 {
      --num-of-column: 3;
    }
    &-lg-4 {
      --num-of-column: 4;
    }
    &-lg-5 {
      --num-of-column: 5;
    }
    &-lg-6 {
      --num-of-column: 6;
    }
    &-lg-7 {
      --num-of-column: 7;
    }
    &-lg-8 {
      --num-of-column: 8;
    }
    &-lg-9 {
      --num-of-column: 9;
    }
    &-lg-10 {
      --num-of-column: 10;
    }
    &-lg-11 {
      --num-of-column: 11;
    }
    &-lg-12 {
      --num-of-column: 12;
    }
  }

  .row-cols- {
    &lg-1 > * {
      --row-col-number: 1;
    }
    &lg-2 > * {
      --row-col-number: 2;
    }
    &lg-3 > * {
      --row-col-number: 3;
    }
    &lg-4 > * {
      --row-col-number: 4;
    }
    &lg-5 > * {
      --row-col-number: 5;
    }
    &lg-6 > * {
      --row-col-number: 6;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    --spacer: 30px;

    max-width: 1140px;
  }

  .col {
    &-xl-1 {
      --num-of-column: 1;
    }
    &-xl-2 {
      --num-of-column: 2;
    }
    &-xl-3 {
      --num-of-column: 3;
    }
    &-xl-4 {
      --num-of-column: 4;
    }
    &-xl-5 {
      --num-of-column: 5;
    }
    &-xl-6 {
      --num-of-column: 6;
    }
    &-xl-7 {
      --num-of-column: 7;
    }
    &-xl-8 {
      --num-of-column: 8;
    }
    &-xl-9 {
      --num-of-column: 9;
    }
    &-xl-10 {
      --num-of-column: 10;
    }
    &-xl-11 {
      --num-of-column: 11;
    }
    &-xl-12 {
      --num-of-column: 12;
    }
  }

  .row-cols- {
    &xl-1 > * {
      --row-col-number: 1;
    }
    &xl-2 > * {
      --row-col-number: 2;
    }
    &xl-3 > * {
      --row-col-number: 3;
    }
    &xl-4 > * {
      --row-col-number: 4;
    }
    &xl-5 > * {
      --row-col-number: 5;
    }
    &xl-6 > * {
      --row-col-number: 6;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .col {
    &-xxl-1 {
      --num-of-column: 1;
    }
    &-xxl-2 {
      --num-of-column: 2;
    }
    &-xxl-3 {
      --num-of-column: 3;
    }
    &-xxl-4 {
      --num-of-column: 4;
    }
    &-xxl-5 {
      --num-of-column: 5;
    }
    &-xxl-6 {
      --num-of-column: 6;
    }
    &-xxl-7 {
      --num-of-column: 7;
    }
    &-xxl-8 {
      --num-of-column: 8;
    }
    &-xxl-9 {
      --num-of-column: 9;
    }
    &-xxl-10 {
      --num-of-column: 10;
    }
    &-xxl-11 {
      --num-of-column: 11;
    }
    &-xxl-12 {
      --num-of-column: 12;
    }
  }

  .row-cols- {
    &xxl-1 > * {
      --row-col-number: 1;
    }
    &xxl-2 > * {
      --row-col-number: 2;
    }
    &xxl-3 > * {
      --row-col-number: 3;
    }
    &xxl-4 > * {
      --row-col-number: 4;
    }
    &xxl-5 > * {
      --row-col-number: 5;
    }
    &xxl-6 > * {
      --row-col-number: 6;
    }
  }
}
