/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row > *,
.container-fluid,
.container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid,
.container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.admin-header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.admin-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.admin-header__avatar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.admin-header__name {
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
}
.admin-header__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.admin-header__btn {
  padding: 12px 20px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-weight: 500;
}

.admin-logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.admin-logo__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.admin-logo__title {
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  color: rgb(92, 225, 230);
  text-shadow: 2px 2px 4px rgba(92, 225, 230, 0.3);
}

.admin-navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}
.admin-navbar__item {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1a162e;
}
.admin-navbar__item:hover {
  color: #58e2ee;
  transition: 0.25s;
}
.admin-navbar__item--active {
  color: #58e2ee;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-primary-color: hsl(216.52deg 11.44% 39.41%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.hero {
  position: relative;
  background: hsl(201.43, 76.36%, 78.43%);
  height: 100vh;
}
.hero__img {
  position: absolute;
  display: block;
  max-width: 50%;
}
.hero .container {
  height: 100%;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
  background: rgba(244, 246, 247, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid hsl(201.43, 76.36%, 78.43%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__link {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--text-primary-color);
  padding: 39px 25px;
  text-align: center;
  transition: background 0.3s ease;
}
.navbar__link:hover {
  background: hsl(201.43, 76.36%, 78.43%);
}
.navbar__link__user {
  display: flex;
  align-items: center;
}
.navbar__actions {
  display: flex;
  align-items: center;
}

.logo__link {
  display: block;
}

.logo {
  width: 100px;
  height: 100px;
}

.user__avt,
.user__logout__btn {
  display: inline-block;
}
.user__logout__btn {
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 20px 15px;
  color: var(--text-primary-color);
}
.user__logout__btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.5s ease-in-out;
}
.user__logout__btn:hover::after {
  width: 100%;
}

.flight-search__container {
  padding: 50px 0 100px 0;
}
.flight-search__box {
  position: relative;
  z-index: 2;
  height: 80%;
}
.flight-search__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  height: 250px;
  border: 2px solid hsl(189.54, 76.65%, 38.63%);
  border-radius: 999px;
}
.flight-search__form__label,
.flight-search__form__input {
  display: block;
}
.flight-search__form__label {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-primary-color);
  margin-bottom: 20px;
}
.flight-search__form__input {
  font-size: 2rem;
  padding: 5px 10px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border-width: 1px 1px 6px 1px;
  border-color: hsl(336.79, 59.55%, 65.1%);
  border-style: solid;
}
.flight-search__form-btn {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary-color);
  padding: 20px 15px;
  border: 1px solid #555;
  border-radius: 999px;
  background: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.flight-search__form-btn:hover {
  background: #8e44ad;
  color: #fff;
  transform: scale(1.1);
}
.flight-search__ .custom-date {
  color: var(--text-primary-color);
}

.feature {
  height: calc(100vh - 126px);
  color: var(--text-primary-color);
}
.feature--title {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin: 100px 0px 150px;
}
.feature--title::before,
.feature--title::after {
  position: absolute;
  top: 17px;
  display: inline-block;
  content: "";
  width: 300px;
  height: 6px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 999px;
}
.feature--title::before {
  left: 150px;
}
.feature--title::after {
  right: 150px;
}
.feature--article {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  height: 350px;
}
.feature--block:nth-of-type(1) .article--img {
  background: url(../img/tourist-attraction.jpg) center/cover no-repeat;
}
.feature--block:nth-of-type(2) .article--img {
  background: url(../img/travel-guide.jpg) center/cover no-repeat;
  background-position: 3% center;
}
.feature--block:nth-of-type(3) .article--img {
  background: url(../img/tour-review.jpg) center/cover no-repeat;
}
.feature--block:nth-of-type(4) .article--img {
  background: orange url(../img/flight-review.jpeg) center/cover no-repeat;
  background-size: 120%;
}

.article--title {
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 15px 25px;
  background: #fff;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 2;
}
.article--img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.article--img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.stats {
  padding: 50px 0 75px;
  background: #78beec url(../img/sky.jpg) center/cover no-repeat;
}
.stats--title {
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.stats--title__left,
.stats--title__right {
  font-family: "Hornbill Personal Use";
  font-weight: 800;
  font-style: italic;
}
.stats--title__left {
  font-size: 5rem;
  color: #5002fc;
  width: 300px;
}
.stats--title__right {
  font-size: 10rem;
  color: hsl(182.94, 76.47%, 63.33%);
}
.stats--num,
.stats--desc {
  display: block;
  text-align: center;
}
.stats--num {
  color: #5002fc;
  font-weight: 600;
  font-size: 2.5rem;
}
.stats--desc {
  color: var(--text-primary-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 1px;
  width: 150px;
  margin: 20px auto 0;
}

.footer {
  padding: 50px 0;
}
.footer--title {
  font-size: 1.8rem;
  font-weight: 600;
}

.media {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.media--icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.media--icon + .media--icon {
  margin-left: 10px;
}

.contact {
  font-weight: 600;
  margin-top: 7px;
}
.contact span {
  font-weight: 400;
}

.download-logo {
  margin-top: 10px;
  width: 150px;
  height: 90px;
}

.address {
  margin-top: 10px;
}

.sponsorship {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.sponsorship span {
  margin-left: 10px;
}

@media screen and (max-width: 1999px) {
  .feature--title::before,
  .feature--title::after {
    width: 200px;
  }
}
@media screen and (max-width: 991px) {
  .feature--title::before,
  .feature--title::after {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .feature--title::before,
  .feature--title::after {
    display: none;
  }
}
.flight {
  padding: 10px 0;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-top: 30px;
}
.flight * {
  color: var(--text-primary-color);
}
.flight--code {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.flight--time,
.flight--location {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  padding: 5px 0;
  margin-bottom: 20px;
}
.flight--location,
.flight--time__bold {
  font-weight: 600;
}

.flight--detail {
  padding: 100px 0px;
}
.flight--detail--code {
  padding: 20px 0;
}
.flight--detail--code,
.flight--detail--component--header {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-primary-color);
}
.flight--detail--component {
  padding: 10px 0px;
}
.flight--detail--component--header {
  font-size: 2rem;
}
.flight--detail--ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Create custom radio */
  /* Create checked state */
  /* Make the label clickable */
}
.flight--detail--ticket input[type="radio"] {
  display: none;
}
.flight--detail--ticket .custom-radio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #007bff;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.flight--detail--ticket input[type="radio"]:checked + .custom-radio {
  background-color: #007bff;
  border: 2px solid #007bff;
}
.flight--detail--ticket input[type="radio"]:checked + .custom-radio::after {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flight--detail--ticket .radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.flight--detail--btn {
  display: inline-block;
  color: var(--text-primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px 30px;
  background: #80d954;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: auto;
  text-align: center;
  transition: scale 0.2s ease;
}
.flight--detail--btn:hover {
  scale: 1.1;
}
.flight--ticket--price,
.flight--detail--component--value {
  color: var(--text-primary-color);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  background: #d9d9d9;
  padding: 10px 0;
}
.flight--ticket--price {
  padding: 10px 20px;
}

.login__section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  margin-top: 50px;
}
.login-form__container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  border: 2px solid black;
}
.login-form__title {
  font-size: 3rem;
  font-weight: 600;
  margin: 10px 0 40px 0;
}
.login-form__component {
  text-align: left;
  margin-bottom: 20px;
}
.login-form__label {
  font-size: 1.8rem;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.login-form__input-field {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 5px;
}
.login-form__input {
  margin-top: 5px;
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 1.6rem;
}
.login-form__fa {
  display: block;
  font-size: 2.5rem;
  color: black;
}
.login-form__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.login-form__options__label {
  font-size: 1.5rem;
}
.login-form__options__input {
  margin-right: 5px;
  transform: scale(1.5);
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-form__options__link {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.login-form__btn {
  width: 100%;
  padding: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--text-primary-color);
  background: lightgreen;
  border: 1px solid #666;
  border-radius: 8px;
  cursor: pointer;
}
.login-form__btn:hover {
  opacity: 0.8;
}
.login-form__register-prompt {
  margin-top: 19px;
}
.login-form__register__link {
  font-weight: bold;
  color: blueviolet;
  text-decoration: underline;
}

.register__section {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  margin: 0;
}
.register__container {
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  border: 3.5px solid black;
}
.register__login-prompt {
  font-size: 1.6rem;
  text-align: center;
}
.register__login-prompt__link {
  font-weight: bold;
  color: blueviolet;
  text-decoration: underline;
}
.register-form__title {
  font-size: 2.4rem;
  margin-bottom: 20px;
  text-align: center;
}
.register-form__subtitle {
  font-size: 1.9rem;
  margin-left: 15px;
  font-weight: bold;
  margin-top: 40px;
}
.register-form__name {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  max-width: 584px;
  margin-left: 15px;
  margin-top: 10px;
}
.register-form__name__input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 1.6rem;
  width: 250px;
}
.register-form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.register-form__component--flex {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 5px;
}
.register-form__email {
  margin-top: 25px;
  margin-left: 15px;
}
.register-form__email__input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 1.6rem;
}
.register-form__dob-and-phone {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 695px;
  margin-left: 15px;
  margin-top: 35px;
}
.register-form__dob__detail {
  display: flex;
  gap: 15px;
  align-items: center;
}
.register-form__dob__value {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background: transparent;
  padding: 5px 10px;
  font-size: 1.6rem;
  margin-top: 16px;
}
.register-form__phone {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.register-form__phone__detail {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 5px;
  gap: 30px;
  width: 87%;
}
.register-form__phone__country-code {
  border: none;
  outline: none;
  font-size: 1.6rem;
  background: transparent;
  padding: 8px;
  width: 30%;
  min-width: 100px;
}
.register-form__phone__number {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 8px;
  background: transparent;
}
.register-form__password-and-confirm {
  display: flex;
  justify-content: space-between;
  gap: 94px;
  max-width: 605px;
  margin-top: 25px;
  margin-left: 15px;
}
.register-form__password__detail {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 5px;
}
.register-form__password__value {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 1.6rem;
  width: 250px;
}
.register-form__policy-1,
.register-form__policy-2 {
  margin-left: 15px;
  margin-top: 30px;
  display: flex;
}
.register-form__policy-2 {
  margin-top: 5px;
}
.register-form__policy__checkbox {
  transform: scale(1.5);
  margin-right: 15px;
}
.register-form__btn {
  width: 100%;
  padding: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--text-primary-color);
  background: lightgreen;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 18px;
}
.register-form__btn:hover {
  opacity: 0.8;
}

.change-password__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.change-password__content {
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #666;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 25%;
  text-align: center;
}
.change-password__title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-primary-color);
  padding: 20px 0;
}
.change-password__label {
  display: block;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-primary-color);
  margin-left: 7px;
  margin-top: 30px;
}
.change-password__reminder {
  color: red;
  text-align: left;
  margin-top: 25px;
}
.change-password__btn {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 12px;
  height: 44px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
}
.change-password__btn:hover {
  opacity: 0.8;
}

.password-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 5px;
}
.password-container__input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 16px;
  width: 250px;
}

.icon--hover:hover {
  cursor: pointer;
}

.booking-history {
  padding: 50px 0;
}
.booking-history__title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-primary-color);
}
.booking-history__message {
  display: none;
}
.booking-history__message--empty {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #aaa;
  padding: 200px 0;
}
.booking-history__ticket {
  margin: 30px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #666;
  display: flex;
}
.booking-history__ticket--empty {
  display: none;
}
.booking-history__ticket__img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  background-color: lightblue;
}
.booking-history__ticket__img img {
  width: 100%;
  height: 100%;
}
.booking-history__ticket-class {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary-color);
}
.booking-history__ticket__info {
  padding: 0 15px;
  flex-grow: 2;
}
.booking-history__ticket__info__row {
  display: flex;
  gap: 30px;
}
.booking-history__ticket__info__col {
  flex-grow: 1;
}
.booking-history__ticket__info__col:first-child {
  flex-grow: 2;
}
.booking-history__ticket__label {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-primary-color);
  padding: 10px 0;
}
.booking-history__ticket__value {
  padding: 7px;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-primary-color);
}

.payment {
  padding: 30px 0;
}
.payment__title {
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-primary-color);
}
.payment__content {
  padding-left: 20px;
  border-left: 8px solid greenyellow;
  border-radius: 2px 15px 15px 2px;
}
.payment__summary {
  padding: 5px 15px;
}
.payment__summary__info {
  padding: 15px;
  border-radius: 15px;
  background: #f2f2f2;
}
.payment__summary__flight {
  font-size: 2rem;
  font-weight: 600;
  color: #444;
  padding: 7px 0;
}
.payment__summary__class--row {
  display: flex;
  justify-content: space-between;
}
.payment__summary__departure-and-arrival,
.payment__summary__time,
.payment__summary__baggage,
.payment__summary__class--row > * {
  font-size: 1.8rem;
  color: var(--text-primary-color);
  padding: 7px 0;
}
.payment__summary__class--row > * {
  display: inline-block;
}
.payment-method {
  margin-top: 50px;
}
.payment-method__warning,
.payment-method__title {
  padding: 12px 0;
}
.payment-method__warning {
  font-size: 1.6rem;
  font-weight: 600;
  color: red;
}
.payment-method__title {
  font-size: 2rem;
  font-weight: 700;
  color: #444;
}
.payment-method__options {
  display: flex;
  gap: 30px;
}
.payment-method__option {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-method__option-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 8px;
}
.payment-method__option-icon img {
  width: 100%;
  height: 100%;
}
.payment__price {
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
}
.payment__price--style {
  display: flex;
  justify-content: space-between;
}
.payment__price--style > * {
  display: inline-block;
}
.payment__price-ticket {
  border: 1px solid #666;
  border-radius: 8px;
  margin-bottom: 30px;
  overflow: hidden;
}
.payment__price-ticket__temp,
.payment__price-ticket-list {
  padding: 15px;
}
.payment__price-ticket__temp {
  border-bottom: 1px solid #666;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary-color);
  background: #d9d9d9;
}
.payment__fees-list {
  padding: 15px;
}
.payment__fees__item {
  padding: 10px 0;
}
.payment__total {
  border: 1px solid #666;
  border-radius: 8px;
  overflow: hidden;
}
.payment__total-price {
  padding: 15px;
  background: red;
}
.payment__total-price * {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}
.payment__btn-wrap {
  display: flex;
  justify-content: flex-end;
}

/*# sourceMappingURL=main.css.map */
